@function v($px) {
  @return round($px * 10000 / 720) / 10000 * 100vw;
}

.index {
  background-color: #2c6fe1;
  .banner {
    width: v(720);
    height: v(300);
    background: #000;
    img {
      display: block;
      width  : 100%;
      height : 100%;
    }
  }
  .m_list{
    width: v(472);
    padding: v(10) v(20);
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;

    justify-content: space-around;
    background: linear-gradient(to bottom, #3f90e2, #1647e8);
    border-radius: 0 0 v(5) v(5);
    li{
      border-radius: v(4);
      width: v(100);
      height: v(100);
      background-color: antiquewhite;
    }
  }
  .tips_all{
    box-sizing: border-box;
    margin: v(20) auto;
    height: v(120);
    width: v(700);
    background-color:#ffffff;
    border-radius: v(5);
    padding: v(20);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .timer{
      font-size: v(40);
      color: #108bf1;
      text-align: center;
    }
    .time-infor{
      text-align: center;
      font-size: v(24);
      color: #c2c2c2;
      span{
        color: #108bf1;
      }
    }
  }
  .mainform{
    width: v(700);
    margin: v(10) auto;
    min-height: v(900);
    border-radius: v(5);
    box-sizing: border-box;
    padding: v(10);
    background-color:#ffffff;
    .linebox{
      width: v(680);
      margin: auto;
      text-align: center;
      margin-top: v(20);
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #333;
      font-size: v(26);
      &::after{
        content: '';
        width: v(100);
        display: block;
        height: v(2);
        background-color: #333;
      }
      &::before{
        content: '';
        width: v(100);
        display: block;
        height: v(2);
        background-color: #333;
      }
    }
    .speakerbox{
      box-sizing: border-box;
      width: v(700);
      margin: v(30) auto;
      padding: v(20);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .speaker{
        margin-right: v(10);
        width: v(50);
        height: v(50);
        background: url('../../images/speaker.png') no-repeat center/cover;
      }
      .scrollbox{
        color: #fc0000;
      }
    }
    .item1{
      height: v(60);
      display: flex;
      justify-content: space-between;
      input{
        height: 100%;
        outline: none;
        border: v(1) solid #e1e2e4;
        border-radius: v(4);
      }
      .sex{
        display: flex;
      }
    }
  }
  .bot_tip{
    box-sizing: border-box;
    padding: v(16) v(20);
    color: #ffffff;
    font-size: v(20);
    line-height: 1.5;
  }
  .footer{
    padding: v(16) v(20);
    line-height: 1.5;
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
    font-size: v(20);
    border-top: v(1) dashed #ffffff;
  }
}