@function v($px) {
    @return round($px * 10000 / 720) / 10000 * 100vw;
  }
  
.contain{
  width: v(400);
}
.lott{
  width: v(400);
  height: v(400);
  border-radius: 50%;
  background: radial-gradient(circle  ,white 50%,purple 10%,Indigo 10%,blue 10%,green 10%,yellow 10%,orange 10%,red 10%)
}
