@function v($px) {
    @return round($px * 10000 / 720) / 10000 * 100vw;
  }
  

.lott{
  width: 100%;
  height: v(300);
  margin: v(200) auto;
  border: v(2) solid Orange;
position: relative;
}
.scrollbox{   
  position: absolute;
  li{
    height: v(90);
    margin-bottom: v(10);
    background-color: aqua;
    list-style: none;
  }
}