@function v($px) {
    @return round($px * 10000 / 720) / 10000 * 100vw;
  }
  

.lott{
    width: 100%;
    height: v(900);
    border: v(2) solid Orange;
    background-color: #2c6fe1;
    transform: translateZ(0);
}