@function v($px) {
  @return round($px * 10000 / 720) / 10000 * 100vw;
}

@import '../component/Index/index.scss';
body,#root{
  width: v(720);
  overflow: hidden;
}
p,ul,li,dl,dd,dt,div,body{
  padding: 0;
  margin: 0;
}