@function v($px) {
    @return round($px * 10000 / 720) / 10000 * 100vw;
  }
  

.gift{
    width: 100vw;
    height: v(900);
    border: v(2) solid Orange;
    background-color: #2c6fe1;
    transform: translateZ(0);
    &__box{
      margin: v(200) auto;
      width: v(300);
      height: v(300);
      background: url('//i01.appmifile.com/webfile/globalimg/events/photography-challenge-2019/gifgbox_bg.png') no-repeat center/contain;
      
    }
    &__playanima{
      animation: rockAround 0.15s linear 2, scalebox 0.2s linear 0.3s 1; 
    }
    @keyframes scalebox {
     0% {
      transform: scale(1)
     }
     25% {
      transform: scale(.9)
     }
     50% {
      transform: scale(.8)
     }
     75% {
      transform: scale(.9)
     }
     100% {
      transform: scale(1)
     }
    }
    @keyframes rockAround {
      0% {
        transform: rotate(0deg)
      }
      13% {
        transform: rotate(-5deg)
      }
      25% {
        transform: rotate(-10deg)
      }
      37% {
        transform: rotate(-5deg)
      }
      50% {
        transform: rotate(0deg)
      }
      63% {
        transform: rotate(5deg)
      }
      75% {
        transform: rotate(10deg)
      }
      87% {
        transform: rotate(5deg)
      }
      100% {
        transform: rotate(0deg)
      }

    }
}